<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HarrisonTest"
         connectionString="Server=tcp:bladerunnerdb.database.windows.net,1433;Initial Catalog=Biblioteket_Kopiera;Persist Security Info=False;User ID=harrison;Password=Blade1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings> 
</configuration>